IndentWidth: 4
SpaceAfterCStyleCast: false
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
SpacesBeforeTrailingComments: 2
IndentGotoLabels: false
SeparateDefinitionBlocks: Always
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
InsertBraces: true
IndentAccessModifiers: false
AccessModifierOffset: -4
ColumnLimit: 100
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false