build/
.cache/
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.o
*.a
*.so
*.dylib
*.exe
*.out
.vscode/
compile_commands.json
hits.csv
hits_100k.csv
Perf\ logs/
small/
big/
tests/big.columnar
tests/data.csv
tests/schema_reconstructed.csv
tests/schema_sample.csv
tests/schema.csv
tests/output.columnar
tests/hits_sample.csv
tests/data.csv
tests/data_reconstructed.csv